---
import Base from '../layouts/base.astro';
import Card from '../components/career-card.astro';
const careerFiles = import.meta.glob('../content/career/*.md');

const careers = await Promise.all(
  Object.entries(careerFiles).map(async ([path, resolver]) => {
    const { frontmatter, compiledContent } = await resolver();
    return { 
      ...frontmatter, 
      description: await compiledContent(), // Resolve content
    };
  })
);
---

<Base pageName="Career" pageColor="text-Pine">
  <div class="w-full grid grid-cols-1 gap-[25px]">
    {careers.map((career) => (
    <Card 
        position={career.position} 
        company={career.company} 
        fromDate={career.fromDate}
        toDate={career.toDate}
        careerType={career.careerType}
        icon={career.icon}
        description={career.description}
        location={career.location}
        groupIcon={career.groupIcon}
      />
    ))}
  </div>
</Base>
