---
import Card from '../components/project-card.astro';
import Base from '../layouts/base.astro';

const projectFiles = import.meta.glob('../content/projects/*.md');

const projects = await Promise.all(
  Object.entries(projectFiles).map(async ([path, resolver]) => {
    const { frontmatter, compiledContent } = await resolver();
    return { 
      ...frontmatter, 
      description: await compiledContent(), // Resolve content
    };
  })
);

---

<Base pageName="Projects" pageColor="text-Gold">
  <div class="w-full grid grid-cols-1 gap-[25px]">
    {projects.map((project) => (
      <Card 
        title={project.title}
        github={project.github}
        demo={project.demo}
        image={project.image}
        technologies={project.technologies}
        shortDescription={project.shortDescription}
      />
    ))}
  </div>
</Base>
