---
const { position, company, fromDate, toDate, careerType, icon, description, location, groupIcon} = Astro.props;

import Icon from './icon.astro';
import BulletPoints from './career-card-points.astro';
---
<div class="group hover:border-Pine rounded-xl border border-HighlightMed bg-Base flex flex-col lg:flex-row px-3.5 py-4 mb-8 gap-4 w-full">
  <div class="content-container flex-1 min-w-0">
    <div class="career-card-content flex flex-col lg:flex-row gap-4 lg:items-center">
      <div class="flex items-start lg:items-center gap-4 flex-1 min-w-0">
        <div class="career-card-pfp h-[50px] w-[50px] flex-shrink-0 text-HighlightMed group-hover:text-Pine">
          <Icon icon={`${icon}`} className="h-[50px] w-[50px] fill-current" />
        </div>
        
        <div class="career-card-text text-HighlightMed group-hover:text-Iris flex flex-col min-w-0 flex-1">
          <div class="font-Outfit text-[16px] font-light truncate">
            {fromDate} - {toDate}
          </div>
          <div class="text-HighlightMed text-lg group-hover:text-Pine font-bold truncate">{position}</div>
          <div class="truncate text-Muted">{company}</div>
          <div class="truncate text-Subtle">{location}</div>
        </div>
        
        <div class="w-[37px] h-[37px] flex-shrink-0 text-HighlightMed group-hover:text-Pine">
          <Icon icon={`${groupIcon}`} className="w-[37px] h-[37px] fill-current" />
        </div>
      </div>
    </div>

    <div class="flex group-hover:mt-4 text-HighlightMed group-hover:text-Pine text-base pl-6 max-h-0 overflow-hidden group-hover:max-h-[1000px] transition-all duration-300 ease-in-out">
      <BulletPoints class="list-outside" description={description} />
    </div>
  </div>
</div>
