---
const { title, github, demo, image, technologies, tagline } = Astro.props;
let expanded = false;
import Icon from './icon.astro'
---
<div class="group transition-all duration-300 ease-in-out flex lg:min-h-[150px] p-2 lg:p-4 flex-row lg:gap-[10px] self-stretch border lg:border-HighlightMed border-Gold lg:hover:border-Gold rounded-xl">
  <div class="flex flex-row items-center gap-2 w-full">
    <!-- Image -->
    <div class="flex-shrink-0">
      <img src={image} alt="Project preview" class="w-20 h-20 lg:w-[120px] lg:h-[120px] rounded-[10px] object-cover" />
    </div>
    
    <!-- Details -->
    <div class="flex flex-col items-start gap-4 flex-1 min-w-0 w-full sm:w-auto">
      <div class="flex flex-col gap-1 w-full">
        <div class="transition-all duration-300 ease-in-out text-Gold lg:text-Subtle group-hover:text-Gold font-Outfit text-md lg:text-lg font-bold truncate">
          {title}
        </div>
        <div class="transition-all duration-300 ease-in-out text-Iris lg:text-HighlightMed group-hover:text-Iris font-Outfit text-sm line-clamp-2 truncate">
          {tagline}
        </div>
      </div>
      
      <div class="flex flex-row gap-2 text-Subtle">
        {technologies.map((tech) => (
          <Icon icon={tech} class="fill-current w-6 h-6" />
        ))}
      </div>
    </div>

    <!-- Links -->
    <div class="transition-all duration-300 ease-in-out flex flex-col justify-center gap-4 text-HighlightMed group-hover:text-Gold">
      {demo && <a href="/" title="Live Demo" class="flex-shrink-0">
        <Icon icon="demo" classname="fill-current w-8 h-8 lg:w-6 lg:h-6" />
      </a>}
      <a href={github} title="Github Link" class="flex-shrink-0">
        <Icon icon="gh" classname="fill-current w-6 h-6" />
      </a>
    </div>
  </div>
</div>
