---
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';
import Card from '../../components/writing-card.astro';

const allWritingPosts = await getCollection('writing');

---

<Base pageName="Writing" pageColor="text-Iris">
 <div class="w-full grid grid-cols-1 gap-6">
   {allWritingPosts.map((post) => (
     <a href={`/writing/${post.id}`} class="block">
       <Card 
         title={post.data.title} 
         date={post.data.date} 
         time={post.data.time} 
         type={post.data.type} 
       />
     </a>
   ))}
 </div>
</Base>
